@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
.newspaper-container{
    background-color:white;
    padding:1.5em;
    box-shadow:10px #ddd;
    border-radius:10px;
    width:700px;
    margin:auto;
}
body{
    background-color:#eee;
    margin:0%;
    font-family: Source Sans Pro; 
}
ul{
    list-style:none;
    margin:0%;
    padding:0%;
    text-align:center;
}
li{
    display:inline-block;
    padding:4px;
    font-size:15px;
}
nav{
    border-top: 1px ridge grey;
    border-bottom: 1px ridge grey;
    font: #777;
    position:sticky;
    top:auto;
}
header{
    font-family:Abril Fatface;
}
h1{
    font-family:Roboto Slab;
    text-align:center;
}
h2{
    text-align:left;
}
p{
    text-align:left;
}
.date{
    font-family:Source Sans Pro;
}
h5{
    font:red;
    font-style:bold;
}
a{
    text-decoration:none;
    color:black;
}
.more-articles{
    border-top: 1px ridge grey;
    display:flex;
    margin:auto;
    
}
